<body id="signuppage">
<!-- signup template -->
<section id="signup">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<img class="loginlogo" src="<?php echo $this->url->getBaseUri();?>img/logos/logowhite.svg">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 loginbox rounded text-center">
				<h1 class="xx text-primary">Paga tu plan nutricional PlanEat</h1>
				<img src="<?php $this->url->getBaseUri(); ?>img/icons/vegan.svg" class="rounded-circle border landing-icon mb-3">
				<h5 class="text-dosis text-primary">¿Qué incluye tu plan?</h5>
				<ul class="list-unstyled">
					<li>Plan de alimentación mensual</li>
					<li>Consejos y recomendaciones</li>
					<li>2 preguntas al mes</li>
					<li>Mensajes de motivación y seguimiento a través de Whatsapp</li>
					<li>Seguimiento a través de PlanEat App</li>
				</ul>
				<h2 class="card-title xx text-primary">$299.00</h2>
				<p class="card-text text-muted text-condensed"><small>Un solo cargo. Precio más IVA.</small></p>
				<a class="btn btn-primary btn-block" href="<?php echo $this->session->get('_init'); ?>">Paga tu plan en MercadoPago</a>
			</div>
		</div>
	</div>
</section>
<!-- /signup template -->