@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand|Roboto+Condensed');

/* some custom varirables */
$dosisfont: 'Dosis', sans-serif;
$quicksandfont: 'Quicksand', sans-serif;
$condensedfont: 'Roboto Condensed', sans-serif;

/* some custom styles */
.xxx {
	font-size: 3.875em;
	font-family: $dosisfont;
	font-weight: 800;
}
.xx {
	font-size: 2.25em;
	font-family: $dosisfont;
	font-weight: 800;
}
.text-dosis {
	font-family: $dosisfont;
}
.text-condensed {
	font-family: $condensedfont;
}
#planeatnav .nav-item a, #planeatnav .navbar-text {
	font-family: $dosisfont;
	font-size: 1.1em;
}
#landingpage {
	padding-top: 58px;
}
#welcome {
	background: url(http://373.mx/planeatassets/planeat_cover.png);
    background-size: cover;
}
#welcome .lead {
	font-family: $quicksandfont;
	font-weight: 500;
}
#loginpage, .bg-experts {
	background-color: lighten($dark,15%);
}
#signuppage, .bg-primary-light {
	background-color: lighten($primary,25%);
}
.loginbox {
	background-color: $white;
	padding: 2.5em;
	margin-bottom: 1.75em;
}
.loginlogo {
	display: block;
	margin: 0 auto 2em auto;
	padding: 2em 0 0 0;
}
.logonav, .profileicon {
	height: 30px;
	width: auto;
}
.bell {
	font-size: 30px;
}
.row-alert, #dashboardbody {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
.info-list {
	padding-top: .5em;
	padding-bottom: .5em;
}
.section-light-padding {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}
.section-padding {
	padding-top: 8em;
	padding-bottom: 8em;	
}
.landing-icon {
	height: 75px;
	width: auto;	
}
#plans {
	background-color: #f3fdf5;
}
#how {
	background-color: #fef9f2;
}