<body id="signuppage">
<!-- signup template -->
<section id="signup">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<a href="<?php echo $this->url->getBaseUri();?>"><img class="loginlogo" src="<?php echo $this->url->getBaseUri();?>img/logos/logowhite.svg"></a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 loginbox rounded">
				<h1 class="xx text-center text-primary">Crea tu cuenta</h1>
				<form action="sessions/createuser" method="post">
					<?php $this->flashSession->output(); ?>
					<div class="form-group">
						<label for="signupemail" class="text-muted">Dirección de e-mail</label>
						<input type="email" class="form-control" id="signupemail" name="signupemail">
					</div>
					<div class="form-group">
						<label for="signupname" class="text-muted">Tu(s) nombre(s)</label>
						<input type="text" class="form-control" id="signupname" name="signupname">
					</div>
					<div class="form-group">
						<label for="signuplastname" class="text-muted">Tu(s) apellido(s)</label>
						<input type="text" class="form-control" id="signuplastname" name="signuplastname">
					</div>
					<div class="form-group">
						<label for="signuppass" class="text-muted">Crea una contraseña</label>
						<input type="password" class="form-control" id="signuppass" name="signuppass">
					</div>
					<div class="form-group">
						<label for="signuppassrepeat" class="text-muted">Escribe nuevamente la contraseña</label>
						<input type="password" class="form-control" id="signuppassrepeat" name="signuppassrepeat">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Crea tu cuenta</button>
				</form>
			</div>
		</div>
		<div class="row justify-content-center loginfooter">
			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
				<p class="text-center text-white">¿Ya tienes una cuenta? <a href="<?php echo $this->url->getBaseUri();?>login" class="text-white">Inicia sesión <i class="fas fa-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
</section>
<!-- /signup template -->