<!-- dashboardnav partial -->
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
		<div class="container">
				<a href="<?php echo $this->url->getBaseUri();?>dashboard" class="navbar-brand">
					<img class="logonav" src="<?php echo $this->url->getBaseUri();?>img/logos/logocolors.svg">
				</a>
				<!-- burger menu button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#planeatnav" aria-controls="planeatnav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
			  	</button>
			  	<!-- /burger menu button -->
			  	<div class="collapse navbar-collapse justify-content-end" id="planeatnav">
			  		<ul class="navbar-nav">
			  			<li class="nav-item">
			  				<a class="nav-link" href="<?php echo $this->url->getBaseUri(); ?>dashboard/profile">Hola, <?php echo $this->session->get('_name'); ?></a>
			  			</li>
			  			<li class="nav-item">
			  				<a class="nav-link" href="<?php echo $this->url->getBaseUri(); ?>sessions/logout">Cerrar sesión</a>
			  			</li>
			  		</ul>
			  	</div>
		</div>
	</nav>
</header>
<!-- /dashboardnav partial -->