<div class="row">
	<div class="col-12 border rounded p-3 mt-3">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
				<img class="rounded-circle border landing-icon" src="<?php echo $this->url->getBaseUri();?>img/icons/all.svg">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<h4 class="text-dosis text-primary">El pago de tu cuenta PlanEat está procesándose</h4>
				<p>Te haremos saber cuando el pago se haya completado.</p>
			</div>
		</div>
	</div>
</div>