<!-- options lists -->
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-5 pt-3 pb-3">
	<!-- <ul class="list-unstyled with-division">
		<li><a href="/planeat/dashboard">¿Qué hay de nuevo?</a></li>
	</ul>
	<ul class="list-unstyled with-division">
		<li><a href="/planeat/dashboard/weekly">Tu plan alimenticio semanal</a></li>
		<li><a href="/planeat/dashboard/habits">Tus hábitos alimenticios</a></li>
		<li><a href="/planeat/dashboard/activity">Actividad física</a></li>
		<li><a href="/planeat/dashboard/measures">Tus medidas y peso</a></li>
		<li><a href="/planeat/dashboard/sleep">Información de sueño</a></li>
	</ul> -->
	<ul class="list-unstyled">
		<li><a href="<?php echo $this->url->getBaseUri(); ?>dashboard">Tu plan nutricional</a></li>
		<li><a href="<?php echo $this->url->getBaseUri(); ?>dashboard/basic">Tu información básica</a></li>
		<li><a href="<?php echo $this->url->getBaseUri(); ?>dashboard/profile">Tu perfil</a></li>
		<!-- <li><a href="/planeat/dashboard/plan">Tu plan actual</a></li> -->
	</ul>
</div>
<!-- /options lists -->