<div class="row">
	<div class="col-12 border rounded p-3 mt-3">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
				<img class="rounded-circle border landing-icon" src="<?php echo $this->url->getBaseUri();?>img/icons/all.svg">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<h4 class="text-dosis text-primary">¡Aún no compras tu plan nutricional!</h4>
				<p>Contrata hoy mismo tu plan nutricional PlanEat</p>
				<h5 class="text-dosis text-primary">¿Qué incluye tu plan?</h5>
				<ul>
					<li>Plan de alimentación mensual</li>
					<li>Consejos y recomendaciones</li>
					<li>2 preguntas al mes</li>
					<li>Mensajes de motivación y seguimiento a través de Whatsapp</li>
					<li>Seguimiento a través de PlanEat App</li>
				</ul>
				<h2 class="card-title xx text-primary">$199.00 pesos</h2>
				<p class="card-text text-muted text-condensed"><small>Un solo cargo. Precio más IVA.</small></p>
				<a class="btn btn-dark" href="<?php echo $this->url->getBaseUri();?>plans/planeatsingle">Contrata hoy <i class="fas fa-arrow-right"></i></a>
			</div>
		</div>
	</div>
</div>
