<!-- header dashboard -->
<?php
	if(!$profiledata) {
		?>
			<div class="container">
				<div class="row row-alert">
					<div class="col-12">
						<div class="card border-orangelight">
							<div class="card-body">
								<p class="card-text">¡Hey! Para comenzar, ¿qué tal si nos cuentas sobre ti? <a class="text-dark" href="dashboard/basic">Comienza con tus datos básicos.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php
	}
?>
<!-- header dashboard -->