<!-- nav partial -->
<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
				<a href="<?php echo $this->url->getBaseUri();?>" class="navbar-brand">
					<img class="logonav" src="<?php echo $this->url->getBaseUri();?>img/logos/logowhite.svg">
				</a>
				<!-- burger menu button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#planeatnav" aria-controls="planeatnav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
			  	</button>
			  	<!-- /burger menu button -->
			  	<div class="collapse navbar-collapse justify-content-end" id="planeatnav">
			  		<ul class="navbar-nav">
			  			<li class="nav-item">
			  				<a class="nav-link" href="#how">¿Cómo funciona?</a>
			  			</li>
			  			<li class="nav-item">
			  				<a class="nav-link" href="#experts">Nuestros Expertos</a>
			  			</li>
			  			<li class="nav-item">
			  				<a class="nav-link" href="#plans">Planes</a>
			  			</li>
			  			<li class="nav-item">
			  				<a class="nav-link" href="login">Inicia sesión</a>
			  			</li>
			  			<li class="nav-item">
			  				<a class="btn btn-outline-light" href="signup" role="button">Inscríbete</a>
			  			</li>
			  		</ul>
			  	</div>
		</div>
	</nav>
</header>
<!-- /nav partial -->