<body id="dashboard">
	<?php
		$this->partial('partials/dashboardnav');
	?>
	<section id="dashboardbody">
		<div class="container">
			<div class="row">
				<?php $this->partial('partials/dashboardoptionlist'); ?>
				<!-- options block -->
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-left pl-lg-5 pr-lg-5 pt-lg-3 pb-lg-3 pl-md-4 pr-md-4">
					<h2 class="xx text-primary">Tu información básica</h2>
					<h6>Cuéntanos un poco más sobre ti para mejorar tu plan alimenticio semanal y nuestras recomendaciones</h6>
					<?php $this->flashSession->output(); ?>
					<form class="mt-3" action="<?php echo $this->url->getBaseUri();?>data/sendbasicdata" method="post">
						<div class="form-row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pb-4 pt-2">
								<p><strong>Sexo</strong></p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="sexfield" id="sexfieldf" value="femenino" <?php if(!empty($profiledata->sex) && $profiledata->sex === 'femenino') { echo 'checked'; } ?>>
									<label class="form-check-label" for="sexfieldf">Femenino</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="sexfield" id="sexfieldm" value="masculino" <?php if(!empty($profiledata->sex) && $profiledata->sex === 'masculino') { echo 'checked'; } ?>>
									<label class="form-check-label" for="sexfieldm">Masculino</label>
								</div>
							</div>
						</div>
						<div class="form-row  pb-4 pt-2">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="agefield"><strong>Edad</strong></label>
								<input type="text" class="form-control" id="agefield" name="agefield" value="<?php if(!empty($profiledata->age)) { echo $profiledata->age; } ?>">
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="weightfield"><strong>Peso en kilogramos</strong></label>
								<input type="text" class="form-control" id="weightfield" name="weightfield" value="<?php if(!empty($profiledata->weight)) { echo $profiledata->weight; } ?>">
							</div>
						</div>
						<div class="form-row pb-4 pt-2">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="heightfield"><strong>Altura en centímetros</strong></label>
								<input type="text" class="form-control" id="heightfield" name="heightfield" value="<?php if(!empty($profiledata->height)) { echo $profiledata->height; } ?>">
							</div>
						</div>
						<div class="form-row pb-4 pt-2">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<p><strong>¿Realizas alguna actividad física?</strong></p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="activityfield" id="activityyes" value="si" <?php if(!empty($profiledata->activity) && $profiledata->activity === 'si') { echo 'checked'; } ?>>
									<label class="form-check-label" for="activityyes">Sí</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="activityfield" id="activityno" value="no" <?php if(!empty($profiledata->activity) && $profiledata->activity === 'no') { echo 'checked'; } ?>>
									<label class="form-check-label" for="activityno">No</label>
								</div>
							</div>
						</div>
						<div class="form-row pb-4 pt-2">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="intensityfield"><strong>¿Cuál es la intensidad de la actividad física que realizas?</strong></label>
								<select class="form-control" name="intensityfield" id="intensityfield">
									<option>Elige...</option>
									<option <?php if(!empty($profiledata->intensity) && $profiledata->intensity === 'Sedentaria') { echo 'selected'; } ?>>Sedentaria</option>
									<option <?php if(!empty($profiledata->intensity) && $profiledata->intensity === 'Leve') { echo 'selected'; } ?>>Leve</option>
									<option <?php if(!empty($profiledata->intensity) && $profiledata->intensity === 'Moderada') { echo 'selected'; } ?>>Moderada</option>
									<option <?php if(!empty($profiledata->intensity) && $profiledata->intensity === 'Intensa') { echo 'selected'; } ?>>Intensa</option>
								</select>
							</div>
						</div>
						<div class="form-row pb-4 pt-2">
							<div class="col-12">
								<p><strong>¿Cuál es tu objetivo?</strong></p>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="objectivefield" id="objectiveloss" value="bajar" <?php if(!empty($profiledata->objective) && $profiledata->objective === 'bajar') { echo 'checked'; } ?>>
									<label class="form-check-label" for="objectiveloss">Bajar de peso</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="objectivefield" id="objectivemantain" value="mantener" <?php if(!empty($profiledata->objective) && $profiledata->objective === 'mantener') { echo 'checked'; } ?>>
									<label class="form-check-label" for="objectivemantain">Mantener mi peso</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="objectivefield" id="objectivegain" value="subir" <?php if(!empty($profiledata->objective) && $profiledata->objective === 'subir') { echo 'checked'; } ?>>
									<label class="form-check-label" for="objectivegain">Subir mi peso</label>
								</div>
							</div>
						</div>
						<div class="form-row mt-2 mb-4">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="considerationsfield"><strong>¿Alguna enfermedad, alergia o intolerancia que debamos considerar?</strong></label>
								<textarea class="form-control" name="considerationsfield" id="considerationsfield"><?php if(!empty($profiledata->considerations)) { echo $profiledata->considerations; } ?></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-dark">Actualizar tus datos básicos</button>
					</form>
				</div>
				<!-- /options block -->
			</div>
		</div>
	</section>