<body id="dashboard">
	<?php
		$this->partial('partials/dashboardnav');
		$this->partial('partials/headerdashboard');
	?>
	<section id="dashboardbody" <?php if(isset($paymentdata)) { echo 'data-payment-id="'.$paymentdata->preference_id.'"'; } else { echo ''; } ?>>
		<div class="container">
			<div class="row">
				<?php $this->partial('partials/dashboardoptionlist'); ?>
				<!-- options block -->
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-left pl-lg-5 pr-lg-5 pt-lg-3 pb-lg-3 pl-md-4 pr-md-4">
					<h2 class="xx text-primary">Tu plan nutricional PlanEat</h2>
					<?php 
						if(isset($collectiondata)){
							if($collectiondata->collection_status === 'approved'){
								$this->partial('partials/dashboardplanpaid');
							}
							elseif($collectiondata->collection_status === 'in_process'){
								$this->partial('partials/dashboardpaymentpending');
							}	
							elseif($collectiondata->collection_status === 'denied'){
								$this->partial('partials/dashboardchooseplan');
							}
							elseif($collectiondata->collection_status === 'pending'){
								$this->partial('partials/dashboardpaymentpending');
							}
						} else {
							if(isset($paymentdata)){
								$this->partial('partials/dashboardmppayment');
							} else {
								$this->partial('partials/dashboardchooseplan');
							}
						}
					?>
				</div>
				<!-- /options block -->
			</div>
		</div>
	</section>