<body id="dashboard">
	<?php
		$this->partial('partials/dashboardnav');
	?>
	<section id="dashboardbody">
		<div class="container">
			<div class="row">
				<?php $this->partial('partials/dashboardoptionlist'); ?>
				<!-- options block -->
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-left pl-lg-5 pr-lg-5 pt-lg-3 pb-lg-3 pl-md-4 pr-md-4">
					<h2 class="xx">Tus hábitos alimenticios</h2>
					<h6>Cuéntanos la manera en que comes para mejorar tu plan alimenticio semanal y nuestras recomendaciones</h6>
					<form>
						<div class="form-group">
							<label for="vecescomida">¿Cuántas veces comes al día?</label>
							<select class="form-control" id="vecescomida">
								<option>1 vez</option>
								<option>2 veces</option>
								<option>3 veces</option>
								<option>4 veces o más</option>
								<option>Diferentes veces cada día</option>
							</select>
						</div>
						<div class="form-group">
							<label>¿Cuánto líquido bebes al día?</label>
							<input type="range" class="custom-range" min="0" max="6" step="1">
						</div>
						<div class="form-group">
							<label for="calorias">¿Te fijas en las calorías que consumes?</label>
							<select class="form-control" id="calorias">
								<option>Siempre</option>
								<option>A veces</option>
								<option>Nunca</option>
							</select>
						</div>
						<button type="submit" class="btn btn-dark">Actualizar hábitos</button>
					</form>
				</div>
				<!-- /options block -->
			</div>
		</div>
	</section>