<body id="signuppage">
<!-- signup template -->
<section id="signup">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<img class="loginlogo" src="<?php echo $this->url->getBaseUri();?>img/logos/logowhite.svg">
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 loginbox rounded text-center">
				<h1 class="xx text-primary">¡Tu pago ha sido recibido!</h1>
				<img src="<?php echo $this->url->getBaseUri(); ?>img/icons/vegan.svg" class="rounded-circle border landing-icon mb-3">
				<a class="btn btn-primary btn-block" href="<?php echo $this->url->getBaseUri();?>dashboard">Ve a tu cuenta PlanEat</a>
			</div>
		</div>
	</div>
</section>
<!-- /signup template -->