<body id="dashboard">
	<?php
		$this->partial('partials/dashboardnav');
	?>
	<section id="dashboardbody">
		<div class="container">
			<div class="row">
				<?php $this->partial('partials/dashboardoptionlist'); ?>
				<!-- options block -->
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 border-left pl-lg-5 pr-lg-5 pt-lg-3 pb-lg-3 pl-md-4 pr-md-4">
					<h2 class="xx text-primary">Tu perfil PlanEat</h2>
					<?php $this->flashSession->output(); ?>
					<form class="mt-3" action="<?php echo $this->url->getBaseUri();?>data/sendprofiledata" method="post">
						<div class="form-row mt-2 mb-3">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="namefield"><strong>Nombre(s)</strong></label>
								<input type="text" class="form-control" id="namefield" name="namefield" value="<?php if(!empty($userdata->name)) { echo $userdata->name; } ?>">
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="namefield"><strong>Apellido(s)</strong></label>
								<input type="text" class="form-control" id="lastnamefield" name="lastnamefield" value="<?php if(!empty($userdata->lastname)) { echo $userdata->lastname; } ?>">
							</div>
						</div>
						<div class="form-row mt-2 mb-3">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<label for="emailfield"><strong>E-mail</strong></label>
								<input type="text" class="form-control" id="emailfield" name="emailfield" value="<?php if(!empty($userdata->email)) { echo $userdata->email; } ?>" disabled>
							</div>
						</div>
						<button type="submit" class="btn btn-dark">Actualizar tu perfil</button>
					</form>
				</div>
				<!-- /options block -->
			</div>
		</div>
	</section>