<body id="dashboard">
	<?php
		$this->partial('partials/dashboardnav');
	?>
	<section id="dashboardbody">
		<div class="container">
			<div class="row">
				<?php $this->partial('partials/dashboardoptionlist'); ?>
				<!-- options block -->
				<div class="col-9 border-left">
					<h2 class="xx">Tu plan alimenticio semanal</h2>
					<ul class="info-list list-inline border-top border-bottom">
						<li class="list-inline-item">Para la semana del lunes 4 de junio al domingo 10 de junio</li>
						<li class="list-inline-item"><strong>Objetivo:</strong> 1200 calorías</li>
					</ul>
					<table class="table">
						<thead>
							<tr>
								<th>Comida</th>
								<th>Lunes</th>
								<th>Martes</th>
								<th>Miércoles</th>
								<th>Jueves</th>
								<th>Viernes</th>
								<th>Sábado</th>
								<th>Domingo</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Desayuno</th>
								<td>Licuado de fresa</td>
								<td>Licuado de fresa</td>
								<td>Licuado de fresa</td>
								<td>Licuado de fresa</td>
								<td>Licuado de fresa</td>
								<td>Licuado de fresa</td>
								<td>Licuado de fresa</td>
							</tr>
							<tr>
								<th>Colación I</th>
								<td>1 taza de fruta</td>
								<td>1 taza de fruta</td>
								<td>1 taza de fruta</td>
								<td>1 taza de fruta</td>
								<td>1 taza de fruta</td>
								<td>1 taza de fruta</td>
								<td>1 taza de fruta</td>
							</tr>
							<tr>
								<th>Tarde</th>
								<td>Paella de mariscos</td>
								<td>Taquitos de picadillo</td>
								<td>Tostadas de pollo</td>
								<td>Macarrones con atún</td>
								<td>Tostadas de pavo</td>
								<td>Pollo a la plancha</td>
								<td>Pizza de vegetales</td>
							</tr>
							<tr>
								<th>Colación II</th>
								<td>1 taza de gelatina</td>
								<td>1 taza de gelatina</td>
								<td>1 taza de gelatina</td>
								<td>1 taza de gelatina</td>
								<td>1 taza de gelatina</td>
								<td>1 taza de gelatina</td>
								<td>1 taza de gelatina</td>
							</tr>
							<tr>
								<th>Cena</th>
								<td>Cereal con leche</td>
								<td>Ensalada de panela</td>
								<td>Cereal con leche</td>
								<td>Ensalada de panela</td>
								<td>Cereal con leche</td>
								<td>Ensalada de panela</td>
								<td>Pizza de vegetales</td>
							</tr>
						</tbody>
					</table>
					<p class="text-right"><a class="btn btn-outline-dark" role="button" href="#"><i class="fas fa-list-ol"></i> Crear lista de compras</a> <a class="btn btn-outline-dark" role="button" href="#"><i class="fas fa-print"></i> Imprimir plan semanal</a></p>
				</div>
				<!-- /options block -->
			</div>
		</div>
	</section>