<body id="loginpage">
<!-- login template -->
<section id="login">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12">
				<a href="<?php echo $this->url->getBaseUri();?>"><img class="loginlogo" src="<?php echo $this->url->getBaseUri();?>img/logos/logowhite.svg"></a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 loginbox rounded">
				<h1 class="xx text-center text-dark">Inicia sesión</h1>
				<form action="sessions/login" method="post">
					<?php $this->flashSession->output(); ?>
					<div class="form-group">
						<label for="loginemail" class="text-muted">Dirección de e-mail</label>
						<input type="email" class="form-control" id="loginemail" name="loginemail">
					</div>
					<div class="form-group">
						<label for="loginpass" class="text-muted">Contraseña</label>
						<input type="password" class="form-control" id="loginpass" name="loginpass">
					</div>
					<button type="submit" class="btn btn-dark btn-block">Inicia sesión</button>
				</form>
				<!-- <p class="text-center mt-3"><a href="#" class="text-dark">¿Haz olvidado tu contraseña?</a></p> -->
			</div>
		</div>
		<div class="row justify-content-center loginfooter">
			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
				<p class="text-center text-white">¿Aún no tienes una cuenta? <a href="<?php echo $this->url->getBaseUri();?>signup" class="text-white">Crea tu cuenta <i class="fas fa-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
</section>
<!-- /login template -->