<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<?php echo $this->tag->getTitle(); ?>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->url->getBaseUri(); ?>css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<?php
		if(isset($styles)){
			foreach ($styles as $style) {
				echo '<link rel="stylesheet" type="text/css" href="'.$this->url->getBaseUri().''.$style.'">';
			}
		}
	?>
</head>
<?php
	echo $this->getContent();
	$this->partial('partials/footer');
?>