<body id="landingpage"> 
<?php $this->partial('partials/nav'); ?>
<section id="welcome">
	<div class="container-fluid section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
					<h1 class="xxx text-white">PlanEat es tu nuevo coach alimenticio</h1>
					<p class="lead text-white">Para lograr la figura que quieres y llevar una vida saludable <strong>no necesitas una dieta, necesitas una estrategia de alimentación</strong>. Nosotros te ponemos en contacto con los especialistas en nutrición que te llevarán de la mano para lograr tus metas.</p>
					<p><a class="btn btn-lg btn-outline-light" role="button" href="#">Conoce los planes <i class="fas fa-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="how">
	<div class="container-fluid section-padding">
		<div class="container">
			<h2 class="text-center xx text-dark">¿Cómo funciona PlanEat?</h2>
			<h5 class="text-center text-condensed text-uppercase text-dark">Elige un plan y disfruta los logros</h5>
			<div class="row section-light-padding d-flex justify-content-center">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
					<img class="landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/icon-personal.svg">
					<h5 class="text-dosis">Plan personalizado</h5>
					<p>En Planeat nos adaptamos a tu estilo de vida y lo mejoramos, para que lograr tus objetivos sea más sencillo.</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
					<img class="landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/icon-conection.svg">
					<h5 class="text-dosis">Conexión con expertos</h5>
					<p>Te conectamos con los especialistas que te impulsarán a que tengas una alimentación correcta y adecuada a tu cuerpo.</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
					<img class="landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/icon-motivation.svg">
					<h5 class="text-dosis">Motivación y seguimiento</h5>
					<p>Porque no sólo tú trabajas duro, nosotros queremos ser parte de tú esfuerzo y motivarte día a día para que llegues a tus metas.</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
					<img class="landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/icon-plan-calendar.svg">
					<h5 class="text-dosis">Somos más que una dieta</h5>
					<p>Tu plan alimenticio cuenta con alternativas, pregunta a tu especialista tus dudas u opciones para mejorar tu plan.</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-center">
					<img class="landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/icon-save-money.svg">
					<h5 class="text-dosis">Facilidad</h5>
					<p>No sólo te ayudamos a que ahorres tiempo y dinero, también te ayudamos a que te sientas bien y seas más saludable.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="experts">
	<div class="container-fluid bg-experts section-padding">
		<div class="container">
			<h2 class="text-center xx text-white">Nuestros Expertos</h2>
			<h5 class="text-center text-condensed text-uppercase text-white">Encuentra al coach ideal para alcanzar tus metas</h5>
			<div id="experts-nav" class="row section-light-padding justify-content-center text-center">
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a v-on:click="weightnav" class="nav-link text-white" href="#experts">
						<img class="rounded-circle landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/weight.svg">
						<h6 class="text-uppercase text-dosis">Nutrición y control de peso</h6>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a v-on:click="sportsnav" class="nav-link text-white" href="#experts">
						<img class="rounded-circle landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/sports.svg">
						<h6 class="text-uppercase text-dosis">Nutrición deportiva</h6>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a v-on:click="conditionsnav" class="nav-link text-white" href="#experts">
						<img class="rounded-circle landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/conditions.svg">
						<h6 class="text-uppercase text-dosis">Alimentación para personas con afecciones crónicas</h6>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a v-on:click="vegannav" class="nav-link text-white" href="#experts">
						<img class="rounded-circle landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/vegan.svg">
						<h6 class="text-uppercase text-dosis">Alimentación vegetariana y vegana</h6>
					</a>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
					<a v-on:click="allnav" class="nav-link text-white" href="#experts">
						<img class="rounded-circle landing-icon mb-3" src="<?php echo $this->url->getBaseUri(); ?>img/icons/all.svg">
						<h6 class="text-uppercase text-dosis">Todos</h6>
					</a>
				</div>
			</div>
			<div id="experts-items" class="row section-light-padding justify-content-center owl-carousel owl-theme" v-carousel>
				<!-- expert item -->
				<div v-for="expert in experts" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
					<div class="card border-0 rounded-0 shadow">
					  <div class="card-body">
					    <p class="card-text text-center mt-4 mb-4"><img class="rounded-circle" v-bind:src="expert.img | imgsrc"></p>
					    <h5 class="text-dosis card-title text-center text-dark">{{expert.name}}</h5>
					    <p v-for="item in expert.desc" class="card-text text-center">{{item}}</p>
					    <h6 v-if="expert.expertise" class="card-title">Áreas de dominio</h6>
					    <ul v-if="expert.expertise">
					    	<li v-for="item in expert.expertise">{{item}}</li>
					    </ul>
					    <a href="#plans" class="btn btn-outline-dark btn-block">Planes {{expert.shortname}}</a>
					  </div>
					</div>
				</div>
				<!-- /expert item -->
			</div>
		</div>
	</div>
</section>
<section id="plans">
	<div class="container-fluid section-padding">
		<div class="container">
			<h2 class="text-center xx text-primary">Planes</h2>
			<h5 class="text-center text-condensed text-uppercase text-primary">Contrata un plan con cualquiera de nuestros expertos, desde $199.00 pesos al mes</h5>
			<div class="row justify-content-center">
				<div class="col-12 text-center">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" id="expertsDropdown" data-toggle="dropdown">Elige un experto</button>
						<div class="dropdown-menu" aria-labelledby="expertsDropdown">
							<a class="dropdown-item" v-on:click="clicklila">Planes Lila</a>
							<a class="dropdown-item" v-on:click="clicklab">Planes Fitness and Nutrition Lab</a>
							<a class="dropdown-item" v-on:click="clicksofia">Planes Sofía</a>
							<a class="dropdown-item" v-on:click="clickcristina">Planes Cristina</a>						
							<a class="dropdown-item" v-on:click="clickgerman">Planes Germán</a>						
							<a class="dropdown-item" v-on:click="clickdennis">Planes Dennis</a>
							<a class="dropdown-item" v-on:click="clickmichelle">Planes Michelle</a>						
							<a class="dropdown-item" v-on:click="clickall">Todos los planes</a>
						</div>
					</div>
				</div>
			</div>
			<!-- plan row -->
			<div v-for="plan in plans" class="row section-light-padding border-bottom">
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 text-primary">
					<h3 class="text-dosis">{{plan.title}}</h3>
					<h6 class="text-condensed text-uppercase">Incluye:</h6>
					<ul>
						<li v-for="item in plan.includes">{{item}}</li>
					</ul>
				</div>
				<div v-for="singleplan in plan.plans" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<div class="card text-center border-0 rounded-0 shadow">
						<div class="card-body">
							<h2 class="card-title xx text-primary">${{singleplan.price}}</h2>
							<h3 class="card-title text-dosis text-muted">{{singleplan.term}}</h3>
							<a v-bind:href="singleplan.action | href" class="btn btn-outline-primary btn-block">Contrata</a>
							<p class="card-text text-muted text-condensed"><small>{{singleplan.smalltext}}</small></p>
						</div>
					</div>
				</div>
			</div>
			<!-- /plan row -->
		</div>
	</div>
</section>
<section id="ready">
	<div class="container-fluid bg-dark section-light-padding">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h2 class="xx text-white">¿Listo para comenzar?</h2>
				</div>
				<div class="col-6">
					<p class="text-right"><a class="btn btn-lg btn-outline-light" role="button" href="signup">Inscríbete a PlanEat <i class="fas fa-arrow-right"></i></a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="tagline">
	<div class="container-fluid section-padding bg-primary-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-6">
					<h2 class="xx text-center text-white">Una vida saludable se consigue con una alimentación saludable.</h2>
				</div>
			</div>
		</div>
	</div>
</section>